# TREC 2018 Precision Medicine

In [1]:
from json2html import *
from IPython.display import HTML
import pandas
import os
import xml.etree.ElementTree
import operator
import pytrec_eval
import eval
import utils
import json

Load and show configuration

In [2]:
with open('config.json', 'r') as f:
    config = json.load(f)
#HTML(json2html.convert(json = config))

Load TOPICS and GOLD STANDARD from last year (30 topics)

In [3]:
topics_df = eval.get_topics('./topics/topics2017.xml')

In [4]:
topics_df

,topic,disease,gene,demographic
1,1,Liposarcoma,CDK4 Amplification,38-year-old male
2,2,Colon cancer,"KRAS (G13D), BRAF (V600E)",52-year-old male
3,3,Meningioma,"NF2 (K322), AKT1(E17K)",45-year-old female
4,4,Breast cancer,"FGFR1 Amplification, PTEN (Q171)",67-year-old female
5,5,Melanoma,"BRAF (V600E), CDKN2A Deletion",45-year-old female
6,6,Melanoma,NRAS (Q61K),55-year-old male
7,7,Lung cancer,EGFR (L858R),50-year-old female
8,8,Lung cancer,EML4-ALK Fusion transcript,52-year-old male
9,9,Gastrointestinal stromal tumor,KIT Exon 9 (A502_Y503dup),49-year-old female
10,10,Lung adenocarcinoma,KRAS (G12C),61-year-old female
11,11,Gastric cancer,PIK3CA (E545K),54-year-old male
12,12,Colon cancer,BRAF (V600E),35-year-old male
13,13,Cholangiocarcinoma,BRCA2,72-year-old male
14,14,Cholangiocarcinoma,IDH1 (R132H),64-year-old male
15,15,Cervical cancer,STK11,26-year-old female
16,16,Pancreatic cancer,CDKN2A,54-year-old male
17,17,Prostate cancer,PTEN Inactivating,81-year-old male
18,18,Pancreatic cancer,CDK6 Amplification,48-year-old male
19,19,Colorectal cancer,FGFR1 Amplification,35-year-old female
20,20,Liposarcoma,MDM2 Amplification,26-year-old male
21,21,Lung adenocarcinoma,ALK Fusion,64-year-old female
22,22,Lung cancer,ERBB2 Amplification,70-year-old male
23,23,Breast cancer,PTEN Loss,54-year-old female
24,24,Lung cancer,NTRK1,58-year-old female
25,25,Lung adenocarcinoma,MET Amplification,48-year-old male
26,26,Breast cancer,NRAS Amplification,35-year-old female
27,27,Pancreatic adenocarcinoma,"KRAS, TP53",49-year-old female
28,28,Pancreatic ductal adenocarcinoma,ERBB3,73-year-old female
29,29,Ampullary carcinoma,KRAS,61-year-old male
30,30,Pancreatic adenocarcinoma,"RB1, TP53, KRAS",57-year-old female

In [5]:
run_df = eval.run('my_run', topics_df)

RUN: my_run
TOPIC: 1 Liposarcoma CDK4 Amplification 38-year-old male
TOPIC: 2 Colon cancer KRAS (G13D), BRAF (V600E) 52-year-old male
TOPIC: 3 Meningioma NF2 (K322), AKT1(E17K) 45-year-old female
TOPIC: 4 Breast cancer FGFR1 Amplification, PTEN (Q171) 67-year-old female
TOPIC: 5 Melanoma BRAF (V600E), CDKN2A Deletion 45-year-old female
TOPIC: 6 Melanoma NRAS (Q61K) 55-year-old male
TOPIC: 7 Lung cancer EGFR (L858R) 50-year-old female
TOPIC: 8 Lung cancer EML4-ALK Fusion transcript 52-year-old male
TOPIC: 9 Gastrointestinal stromal tumor KIT Exon 9 (A502_Y503dup) 49-year-old female
TOPIC: 10 Lung adenocarcinoma KRAS (G12C) 61-year-old female
TOPIC: 11 Gastric cancer PIK3CA (E545K) 54-year-old male
TOPIC: 12 Colon cancer BRAF (V600E) 35-year-old male
TOPIC: 13 Cholangiocarcinoma BRCA2 72-year-old male
TOPIC: 14 Cholangiocarcinoma IDH1 (R132H) 64-year-old male
TOPIC: 15 Cervical cancer STK11 26-year-old female
TOPIC: 16 Pancreatic cancer CDKN2A 54-year-old male
TOPIC: 17 Prostate cancer PTEN Inactivating 81-year-old male
TOPIC: 18 Pancreatic cancer CDK6 Amplification 48-year-old male
TOPIC: 19 Colorectal cancer FGFR1 Amplification 35-year-old female
TOPIC: 20 Liposarcoma MDM2 Amplification 26-year-old male
TOPIC: 21 Lung adenocarcinoma ALK Fusion 64-year-old female
TOPIC: 22 Lung cancer ERBB2 Amplification 70-year-old male
TOPIC: 23 Breast cancer PTEN Loss 54-year-old female
TOPIC: 24 Lung cancer NTRK1 58-year-old female
TOPIC: 25 Lung adenocarcinoma MET Amplification 48-year-old male
TOPIC: 26 Breast cancer NRAS Amplification 35-year-old female
TOPIC: 27 Pancreatic adenocarcinoma KRAS, TP53 49-year-old female
TOPIC: 28 Pancreatic ductal adenocarcinoma ERBB3 73-year-old female
TOPIC: 29 Ampullary carcinoma KRAS 61-year-old male
TOPIC: 30 Pancreatic adenocarcinoma RB1, TP53, KRAS 57-year-old female

In [6]:
run_df

       TOPIC_NO  Q0               ID  RANK      SCORE RUN_NAME
0             1  Q0         26336885     1  54.524635   my_run
1             1  Q0         16160477     2  51.825653   my_run
2             1  Q0          9713346     3  50.296030   my_run
3             1  Q0         21910158     4  50.229340   my_run
4             1  Q0         18551309     5  50.125010   my_run
5             1  Q0         11505267     6  49.909904   my_run
6             1  Q0         18820664     7  49.677400   my_run
7             1  Q0         25028469     8  49.263350   my_run
8             1  Q0         21038090     9  49.167870   my_run
9             1  Q0         26464734    10  48.654488   my_run
10            1  Q0         19574885    11  48.231026   my_run
11            1  Q0         23852861    12  47.950817   my_run
12            1  Q0         20473880    13  47.502953   my_run
13            1  Q0         25059573    14  47.476967   my_run
14            1  Q0         15991843    15  47.396840   my_run
15            1  Q0         25121597    16  47.053390   my_run
16            1  Q0         24457460    17  46.919400   my_run
17            1  Q0         24279301    18  46.399310   my_run
18            1  Q0         16938516    19  45.926410   my_run
19            1  Q0         18836421    20  45.000443   my_run
20            1  Q0         19449367    21  44.560570   my_run
21            1  Q0         12640106    22  44.461708   my_run
22            1  Q0         18036404    23  44.343555   my_run
23            1  Q0         25679065    24  44.173340   my_run
24            1  Q0         26993784    25  44.038628   my_run
25            1  Q0         23308321    26  43.667694   my_run
26            1  Q0         19820690    27  43.472670   my_run
27            1  Q0         19734852    28  43.427650   my_run
28            1  Q0         21317707    29  42.905556   my_run
29            1  Q0         26173427    30  42.895676   my_run
...         ...  ..              ...   ...        ...      ...
23306        30  Q0         20661086   971  26.253370   my_run
23307        30  Q0         20522432   972  26.250885   my_run
23308        30  Q0         27106232   973  26.234604   my_run
23309        30  Q0         24618618   974  26.216340   my_run
23310        30  Q0         12071807   975  26.212479   my_run
23311        30  Q0         19234440   976  26.205585   my_run
23312        30  Q0         27753661   977  26.195908   my_run
23313        30  Q0         21385921   978  26.193730   my_run
23314        30  Q0   AACR_2015-4741   979  26.173544   my_run
23315        30  Q0         21978692   980  26.151001   my_run
23316        30  Q0         11253140   981  26.144325   my_run
23317        30  Q0   AACR_2015-2408   982  26.104557   my_run
23318        30  Q0         26701267   983  26.088707   my_run
23319        30  Q0         23157826   984  26.084208   my_run
23320        30  Q0         20108024   985  26.065327   my_run
23321        30  Q0   AACR_2015-2137   986  26.039616   my_run
23322        30  Q0         19249398   987  26.036670   my_run
23323        30  Q0    AACR_2013-600   988  26.035557   my_run
23324        30  Q0         24491405   989  26.031544   my_run
23325        30  Q0         26077591   990  26.031078   my_run
23326        30  Q0    AACR_2015-923   991  26.015814   my_run
23327        30  Q0         21667033   992  26.008156   my_run
23328        30  Q0         26113084   993  26.000540   my_run
23329        30  Q0  ASCO_186563-199   994  25.986912   my_run
23330        30  Q0         23868061   995  25.967175   my_run
23331        30  Q0  ASCO_169744-176   996  25.961664   my_run
23332        30  Q0         21819318   997  25.950401   my_run
23333        30  Q0   AACR_2015-4669   998  25.940178   my_run
23334        30  Q0         25826503   999  25.937790   my_run
23335        30  Q0         22266668  1000  25.927324   my_run

[23336 rows x 6 columns]

In [7]:
eval.evaluate(eval.get_qrels('./gold-standard/abstracts.2017.qrels'), run_df)

{'P_10': 0.44, 'Rprec': 0.2626, 'ndcg': 0.4779}